 .game{
    width: 255px;
    text-align: center;
    font-family: system-ui;
    color: rgb(255, 255, 255);
    margin: auto;
    font-weight: 500;
 }
 .title{
    background: #f20;
    padding: 5px 0;
    margin: 5px 0;
 }
 span{
    color: rgb(11, 127, 127);
 }
 .square{
    width: 80px;
    height: 80px;
    background: #f20;
    float: left;
    margin: 2px;
    font-size: 50px;
 }
 .square:hover{
    background: #000;
    cursor: pointer;
 }