body {
    background-color:
     rgb(27, 13, 222);
     background-image: url("paper.gif");
     background-repeat: repeat-x;
}
img{
    margin: 20px
}
#forside-body {
    background-color: aqua(232,246,143)
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22 px;
    color: rgb(47, 130, 240);
    margin: 20px;background-image: url("paper.gif");
    border: 1px solid rgb(159, 194, 3);
    outline: 1px solid red;
    outline-offset: 15px;
}
